
<div class="abt">
<div class="row my-5">
  <div class="col-md-4 text-center">
      <div class="border border-2 py-3 px-4 h-100 v-box">
          <img src="../../assets/vision_img.png" class="img-fluid my-3" alt="vision" width="170" height="170">
          <h4 class="text-primary fw-sbold">Vision</h4>
          <p>To be the most preferred end-to-end Technology Partner Globally</p>
      </div>
  </div>
  <div class="col-md-4 text-center my-5 my-md-0">
    <div class="border border-2 py-3 px-4 h-100 v-box">
        <img src="../../assets/mission_img.png" class="img-fluid my-3" alt="Mission" width="170" height="170">
        <h4 class="text-primary fw-sbold">Mission</h4>
        <p>Create business value by making sense from connected world</p>
    </div>
</div>
</div>
