a
{
  text-decoration: none;
  text-decoration: none;
  color: navajowhite;
  font-style: Bold;
  font-size: larger;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li

{
  padding-left: 10px;

}
