

<html>


  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="../assets/kore_img.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-item nav-link active" href="#">Home </a> -->
        <!-- <a class="nav-item nav-link" href="about/about.component.html">About</a> -->
        <!-- <a class="nav-item nav-link" href="#">Contact</a> -->
        <!-- <a class="nav-item nav-link disabled" href="#">Services</a> -->
      </div>
    </div>
  </nav>
    <div class="cont1">

    <img   src="../assets/kore_img.png" alt="">
    <img class ="imgcontent" style="border-radius: 100%; " src="../assets/korer_img.jpg" alt="">
    <span class="head">Simplify <br>IOT</span>
    <hr class="linebreak">
    <p>Core engineering company with a culture of constant innovation with outstanding track record.</p>
    <!-- <button (click)="onbtnclick()" type="button" class="btn btn-info">Info</button> -->
    </div>
    <div class="cont2">
      <img src="../assets/kore_img.png" alt="">
      <img class ="imgcontent" style="border-radius: 100%;" src="../assets/korer_img.jpg" alt="">
      <span class="head">Innovative</span>
      <hr class="linebreak">
      <p>Core engineering company with a culture of constant innovation with outstanding track record.</p>
      <!-- <button (click)="onbtnclick()" type="button" class="btn btn-info">Info</button> -->
    </div>
    <div class="cont3 ">
        <img src="../assets/kore_img.png" alt="">
        <img  class ="imgcontent" style="border-radius: 100%;" src="../assets/korer_img.jpg" alt="">
        <span class="head">Agile</span>
        <br>
        <br>
        <hr class="linebreak">
        <p>Core engineering company with a culture of constant innovation with outstanding track record.</p>
        <!-- <button (click)="onbtnclick()" type="button" class="btn btn-info">Info</button> -->

    </div>

    <div class="footer1">
    <blockquote class="blockquote ">

      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p><br>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>

    </blockquote>


  </div>
